<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-align: center;">
        新規登録画面
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field">
          <%= f.label :name, class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :username, autofocus: true, autocomplete: "email", :placeholder => "username", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :postcode, class: "label" %>
          <p class="control has-icons-left">
             <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", :placeholder => "postcode", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-house-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :prefecture_code, class: "label" %>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :address_city, class: "label" %>
          <p class="control has-icons-left">
          <%= f.text_field :address_city, autofocus: true, autocomplete: "address_city", :placeholder => "address_city", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-house-user"></i>
          </span>
        </div>

        <div class="field">
          <%= f.label :address_street, class: "label" %>
          <p class="control has-icons-left">
          <%= f.text_field :address_street, autofocus: true, autocomplete: "address_street", :placeholder => "address_street", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-house-user"></i>
          </span>
        </div>

        <div class="field">
          <%= f.label :address_building, class: "label" %>
          <p class="control has-icons-left">
          <%= f.text_field :address_building, autofocus: true, autocomplete: "address_building", :placeholder => "address_building", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-house-user"></i>
          </span>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-success" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>