<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-align: center;">
        マイページ
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <%= render "profile", user: @user %>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.reptiles.each do |reptile| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to reptile_path(reptile) do %>
                  <%= attachment_image_tag reptile, :image, fallback: "no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to reptile_path(reptile), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    はちゅを見る
                  <% end %>
                  <% if @user.id == current_user.id %>
                    <%= link_to edit_reptile_path(reptile),class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      はちゅを編集する
                    <% end %>
                    <%= link_to reptile_path(reptile), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      はちゅを削除する
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time><%= reptile.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
