<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        はちゅ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @reptiles.each do |reptile| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to reptile_path(reptile) do %>
                  <%= attachment_image_tag reptile, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                   <%= link_to user_path(reptile.user.id) do %>
                     <%= attachment_image_tag reptile.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                   <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to reptile.user.username, user_path(reptile.user.id) %></div>
                </div>
              </div>
              <div class="content">
                <time><%= reptile.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>