<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-align: center;">
      詳細
      </h1>
    </div>
  </div>
</section>

<section id="reptile_<%= @reptile.id %>" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @reptile, :image %>
            </figure>
          </div>

          <ul class="meta-info-cells v4 float-wrapper">
            <li>
              <%= link_to user_path(@reptile.user), class: "panel-block" do %>
                <i class="fas fa-user" aria-hidden="true"><%= @reptile.user.username %></i>
              <% end %>
            </li>

            <li class="favorites">
              <%= render "favorites/favorites", reptile: @reptile %>
            </li>
          </ul>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @reptile.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>説明</th>
                </tr>
                <tr>
                  <td><%= simple_format @reptile.body %></td>
                </tr>
              </table>
              <% if @reptile.user.id == current_user.id %>
                <%= link_to "編集", edit_reptile_path(@reptile), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div id="reptile_<%= @reptile.id %>" class="column is-4">
        <article class="panel is-link">

          <div class="comments-area">
            <%= render "post_comments/comments", reptile: @reptile, post_comments: @post_comments %>
          </div>

          <%= form_with(model:[@reptile, @post_comment], remote: true) do |f| %>
            <div class="row">
              <div class="col-sm-12">
                <%= f.text_area :comment, rows:"5", class: "form-control",placeholder: "コメントをここに" %>
              </div>
            </div>
            <%= f.submit '送信する', class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>